<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <!-- User Profile-->
        <li><a href="javascript:void(0)"
                class="btn-block create-btn text-white no-block d-flex align-items-center logo-menu" style="background-color:  rgb(65, 71, 85); cursor:default;"><img class="mr-3 pl-2" src="../../assets/images/koala-logo.png" alt="Logo"><span class="hide-menu m-l-5 pt-2 h3">KOALA Bot</span> </a>
        </li>
        <!-- User Profile-->
        <li class="sidebar-item"> <a class="selected-menu-item sidebar-link waves-effect waves-dark sidebar-link menu-item-color-def menu-item-gradient-line" onclick="loader.loadNewPage(event,this,'domcek.html','','');"
                href="javascript:void(0)" aria-expanded="false"><i class="selected-menu-item-icon mdi mdi-view-dashboard menu-item-color-def"></i><span
                    class="hide-menu">Home</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link menu-item-color-def menu-item-gradient-line" onclick="loader.loadNewPage(event,this,'ulohy.html','ts-d.js','task.js');"
                href="javascript:void(0)" aria-expanded="false"><i
                    class="mdi mdi-radioactive menu-item-color-def"></i><span class="hide-menu">Active tasks</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link menu-item-color-def menu-item-gradient-line" onclick="loader.loadNewPage(event,this,'cakajulohy.html','wt-d.js','waittask.js');"
                href="javascript:void(0)" aria-expanded="false"><i
                    class="mdi mdi-calendar-clock menu-item-color-def"></i><span class="hide-menu">Waiting tasks</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link menu-item-color-def menu-item-gradient-line" onclick="loader.loadNewPage(event,this,'logo-ce.html','c-e-d.js','cx-xe.js');"
                href="javascript:void(0)" aria-expanded="false"><i
                    class="mdi mdi-account-network menu-item-color-def"></i><span class="hide-menu">Create Emails</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link menu-item-color-def menu-item-gradient-line" onclick="loader.loadNewPage(event,this,'cache-fxrrdw.html','fr-d.js','fxwx.js');"
                href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-ray-start-end menu-item-color-def"></i><span
                    class="hide-menu">Forwarding</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link menu-item-color-def menu-item-gradient-line" onclick="loader.loadNewPage(event,this,'logo-fxxaam.html','fm-d.js','fxxm.js');"
                href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-television-guide menu-item-color-def"></i><span
                    class="hide-menu">Farming</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link menu-item-color-def menu-item-gradient-line" onclick="loader.loadNewPage(event,this,'cache-prrx.html','p-d.js','paaex.js');"
                href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-file menu-item-color-def"></i><span
                    class="hide-menu">Proxies</span></a></li>
        <!-- <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link menu-item-color-def menu-item-gradient-line" onclick="loadNewPage(event,this,'cache-rc.html','r-e-d.js','recoxx.js');"
            href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-file menu-item-color-def"></i><span
                class="hide-menu">Recovery email</span></a></li>             -->
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link menu-item-color-def menu-item-gradient-line" onclick="loader.loadNewPage(event,this,'cache-sp.html','sp-d.js','prxxd.js');"
                href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-phone-incoming menu-item-color-def"></i><span
                    class="hide-menu">SMS Providers</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link menu-item-color-def menu-item-gradient-line" onclick="loader.loadNewPage(event,this,'nastav.html','','nastav.js');"
                href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-note-text menu-item-color-def"></i><span
                    class="hide-menu">Settings</span></a></li>
        <li class="sidebar-item"> <a id="testovanie" class="sidebar-link waves-effect waves-dark sidebar-link menu-item-color-def menu-item-gradient-line" onclick="loader.loadNewPage(event,this,'logs.html','','logs.js');"
                href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-alert-outline menu-item-color-def"></i><span
                    class="hide-menu">Logs</span></a></li>
        <li class="text-center p-10 upgrade-btn">
            <a href="https://koala-system.com/"
                class="btn btn-block btn-danger text-white" target="_blank">Buy another modules</a>
        </li>
    </ul>
</nav>