All Rights Reserved by KOALA bot system. Designed and Developed by <a
                    href="https://koala-system.com/">KOALA</a>

                    <div class="form-check" >
                        <!-- <select class="form-control" name="recovery-list" id="recovery-list">
                            <option value="">Please select Recovery email..</option>
                        </select> -->
                        <i class="mdi mdi-earth-off menu-item-color-def mr-4"></i>
                        <input type="checkbox" class="form-check-input" id="local-proxy" value="" data-maxnums="0" style="cursor: pointer">
                        <label class="form-check-label" for="exampleCheck1">Local(without proxy)</label>
                    </div>
                    
     <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
    
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../dist/js/app-style-switcher.js"></script>
    <script src="../../assets/libs/css-percentage-circle/dist/script.js"></script>
    <script src="../../assets/libs/datatable/jquery.dataTables.min.js"></script>
    <script src="../../assets/libs/datatable/dataTables.buttons.min.js"></script>
    <script src="../../assets/libs/datatable/buttons.flash.min.js"></script>
    <script src="../../assets/libs/datatable/jszip.min.js"></script>
    <script src="../../assets/libs/datatable/pdfmake.min.js"></script>
    <script src="../../assets/libs/datatable/vfs_fonts.js"></script>
    <script src="../../assets/libs/datatable/buttons.html5.min.js"></script>
    <script src="../../assets/libs/datatable/buttons.print.min.js"></script>
    <!--Wave Effects -->
    <script src="../../dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../../dist/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="../../assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="../../assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="../../dist/js/pages/dashboards/dashboard1.js"></script>
    <script crossorigin src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    