<script src="../../../_linkers/recoxx.js" charset="utf-8"></script>
<script src="../../../_linkers/datatable/r-e-d.js" charset="utf-8"></script>
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-5">
            <h4 class="page-title">KOALA</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="loader.loadNewPage(event,this,'domcek.html','','');">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Recovery emails</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row vertical-center-row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Create emails</h4>
                        <h5 class="card-subtitle">Overview of all created emails</h5>
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                            <select class="custom-select">
                                <option value="0" selected>Monthly</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Yearly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- title -->

                <div class="btn-toolbar justify-content-between mb-2" role="toolbar"
                    aria-label="Toolbar with button groups">
                    <form onSubmit="JavaScript:sendForm(event)">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Add recovery email address</label>
                            <input name="recoveryEmail" value="" type="email" class="form-control" id="recoveryEmail"
                                aria-describedby="emailHelp" placeholder="Add recovery email address">
                            <small id="emailHelp" class="form-text text-muted">test@test.com</small>
                        </div>
                        <button type="submit" class="btn btn-secondary btn-success rounded-lg"><i
                                class="m-r-10 mdi mdi-plus-circle"></i>Save New Recovery email</button>
                        <button type="button" class="btn btn-secondary btn-danger ml-2 rounded-lg"
                            onclick="deleteData()"><i class="m-r-10 mdi mdi-delete-circle"></i>Delete email</button>
                    </form>
                </div>
            </div>

            <div class="table-responsive">
                <table id="recoveryEmailTable" class="display" width="80%"></table>
            </div>

            <!-- <script src="../../../node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script> -->
        </div>
    </div>
</div>


            