<!-- <script>
    if(require("electron").remote.getGlobal("sharedObj").PROD_MODE){
        var proc_data = require(process.cwd()+LOCATION+'\\_linkers\\tabulka\\sp-d.jsc');
        var proc = require(process.cwd()+LOCATION+'\\_linkers\\prxxd.jsc');
    }else{
        var proc_data = require(process.cwd()+LOCATION+'\\_linkers\\tabulka\\sp-d.js');
        var proc = require(process.cwd()+LOCATION+'\\_linkers\\prxxd.js');
    }
</script> -->
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-5">
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="loader.loadNewPage(event,this,'domcek.html','','');">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">SMS Providers</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row vertical-center-row">
    <!-- column -->
    <div class="col-12">
        <div class="card">

            <div class="card-body">
            
                <!--<form onSubmit="JavaScript:sendFormMainProvider(event)">-->
                <div class="btn-toolbar justify-content-between mb-4" role="toolbar"
                    aria-label="Toolbar with button groups">
                    <div class="btn-group mr-3 ml-3 mb-3 col-12" role="group" style="display: flex;flex-wrap: wrap;max-width: 1100px !important;">
                        <div class="mr-3 mb-2">
                            <select class="form-control" name="providers" id="provider-list">
                                <option value="LUCKYSMS">LUCKY-sms</option>
                                <option value="GETSMSCODE">GETSMSCODE</option>
                                <option value="PVACODES">PVACODES</option>
                                <option value="SMSPVA">SMSPVA</option>
                            </select>
                        </div>

                        <div class="input-group mr-2 col-4 mb-2">
                            <input type="text" id="key" class="form-control" placeholder="Place your API key"
                                aria-label="Input group example" style="max-width: 300px !important;">
                        </div>

                        <div class="input-group mr-2 col-4 mb-2">
                            <input type="text" id="secret" class="form-control" placeholder="Place your EMAIL/SECRET"
                                aria-label="Input group example2" style="max-width: 300px !important;">
                        </div>

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text" id="btnGroupAddon">Timeout</div>
                            </div>
                            <input type="number" id="timeout" value="1" min='0' max='60' class="form-control"
                                placeholder="1" aria-label="Input group example">
                        </div>
                    </div>

                    <div class="btn-group ml-3 mb-3" role="group" aria-label="First group">
                        <button type="button" class="btn btn-secondary btn-success ml-2 rounded-lg"
                            onclick="proc.sendFormMainProvider(event)"><i class="m-r-10 mdi mdi-plus-circle"></i>Add new
                            provider</button>
                        <button type="button" class="btn btn-secondary btn-danger ml-2 rounded-lg" onclick="proc.deleteData()"><i
                                class="m-r-10 mdi mdi-delete-circle"></i>Delete provider</button>
                    </div>
                </div>
                <!--</form> -->
                <div class="table-responsive">
                    <table id="smsProvidersTable" class="display" width="80%"></table>
                </div>

                <!-- <script src="../../../node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script> -->
                </form>
                <script>
                    $('#smsProvCheckbox').click(function() {
                        console.log("AAAAA")
                        $('#smsProvCheckbox').not(this).prop("checked", false);
                    });
                </script>
            </div>
        </div>
    </div>
</div>
           