<!-- <script>
    if(require("electron").remote.getGlobal("sharedObj").PROD_MODE){
        var forward_data = require(process.cwd()+LOCATION+'\\_linkers\\tabulka\\fr-d.jsc');
        var forward = require(process.cwd()+LOCATION+'\\_linkers\\fxwx.jsc');
    }else{
        var forward_data = require(process.cwd()+LOCATION+'\\_linkers\\tabulka\\fr-d.js');
        var forward = require(process.cwd()+LOCATION+'\\_linkers\\fxwx.js');
    }
</script> -->
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-5">
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="loader.loadNewPage(event,this,'domcek.html','','');">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Forwarding</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row vertical-center-row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
            
                <div class="row" style="margin-left: -10px;">
                    <div class="form-group col-md-6">
                        <label for="forwardEmail" style="white-space: nowrap !important;">Add forwarding email (Only GMAIL):</label>
                        <input name="forwardEmail" value="" type="email" class="form-control" id="forwardEmail"
                            aria-describedby="emailHelp" placeholder="Add forward email address..." style="max-width: 300px !important;min-width: 200px !important;">
                        <small id="emailHelp" class="form-text text-muted">test@gmail.com</small>
                    </div>
                    <div class="form-group col-md-6 mt-2">
                        <label for="forwardPassEmail"> </label>
                        <input name="forwardPassEmail" value="" type="password" class="form-control" id="forwardPassEmail"
                            aria-describedby="emailHelp" placeholder="Add forward email password..." style="max-width: 300px !important;min-width: 200px !important;">
                        <input type="checkbox" onclick="forward.showPassword()">Show Password
                    </div>  
                    <div class="form-group col-md-6 mt-2">
                        <label for="forwardProxyCustom"> </label>
                        <input name="forwardProxyCustom"  type="text" class="form-control" id="forwardProxyCustom"
                            placeholder="Add forward email specific forward proxy..." style="display:none;max-width: 400px !important;min-width: 300px !important;">
                        <input type="checkbox" id="specificPRoxy">Show Input For Specific Forward proxy
                        <br>
                        <span>Format proxy:  1)IPaddress:Port:Username:Password  2)IPaddres:Port</span>
                    </div>
                </div>
                <!-- <div class="form-check mt-1 col-2 mb-3 mr-2 ml-4" style="width: 210px;white-space: nowrap !important;text-align: center !important;cursor: pointer;">
                    <input type="checkbox" style="cursor: pointer;" class="form-check-input" id="use-proxy-forward" value="" data-maxnums="0" checked>
                    <label class="form-check-label" for="exampleCheck1">Use same proxy for this email(unchecked = without proxy)</label>
                </div> -->
                <select id="selectProxyGroupChange" class="filterSelectBox mt-2 mb-2 form-control" style="width:auto;margin-right: 5px;width: 100% !important;min-width: 220px !important;max-width: 300px !important; font-size: 12px !important; height: 30px !important;">                        
                </select>
                <div class="btn-toolbar justify-content-between mb-4" role="toolbar"
                    aria-label="Toolbar with button groups">
                    <div class="btn-group mb-3" style="margin-left: -10px;" role="group" aria-label="First group">
                        <button id="forwardEmailStart" type="button" class="btn btn-secondary btn-success ml-2 rounded-lg"
                            onclick="forward.forwardEmails(event)"><i class="m-r-10 mdi mdi-plus-circle"></i>Forward emails<span id="countdown"></span></button>
                        <button type="button" class="btn btn-secondary btn-danger ml-2 rounded-lg"
                            onclick="forward.killSelectedForwardings()"><i class="m-r-10 mdi mdi-delete-circle"></i>Stop SELECTED
                            forwardings</button>
                        <button type="button" class="btn btn-secondary btn-danger ml-2 rounded-lg"
                            onclick="forward.resetSelectedForwardings()"><i class="m-r-10 mdi mdi-delete-circle"></i>Reset SELECTED failed</button>
                    </div>
                    <div class="btn-group mb-3" style="margin-left: -10px;" role="group" aria-label="First group">
                        <button type="button" class="btn btn-secondary btn-danger ml-2 rounded-lg"
                            onclick="forward.resetAllForwardings()"><i class="m-r-10 mdi mdi-delete-circle"></i>Reset ALL failed</button>
                        <button type="button" class="btn btn-secondary btn-danger ml-2 rounded-lg"
                            onclick="forward.killAllForwardings()"><i class="m-r-10 mdi mdi-close"></i>Stop ALL forwarding</button>
                    </div>
                </div>

                <!--</form> -->
                



                <div>
                    <!-- <label for="cars">Filter by status:</label> -->
                    <select id="filterStatusForwarding" class="filterSelectBox mt-2 mb-2 mr-3 form-control" style="width:auto;">
                        <option style="color: white !important;" value="">Filter by status:</option>
                        <option value="unforwarded">Unforwarded</option>
                        <!-- <option value="waiting task">Waiting tasks</option>
                        <option value="INITIALIZING PROCESS">Initializing process</option>
                        <option value="PROCESSING FORWARD">Processing forwarding</option>
                        <option value="FINISHING FORWARD">Finishing forwarding</option> -->
                        <option value="forwarded">Forwarded</option>
                        <option value="FAILED">Failed</option>
                        <option value="CANCELED">Canceled</option>
                    </select>

                    <!--<p id="date_filter">
                        <span id="date-label-from" class="date-label">From: </span><input class="date_range_filter date" type="text" id="datepicker_from" placeholder="Date from"/>
                        <span id="date-label-to" class="date-label">To:<input class="date_range_filter date" type="text" id="datepicker_to" placeholder="Date to"/>
                    </p>-->
                    <div class="col-4" style="display: flex; padding-right: 0px;white-space: nowrap !important;">
                        <div>
                            <p style=" margin-bottom: 0px;   margin-top: 13px;">Filter by registered at:</p>    
                        </div>
                        <div style="margin-top: 8px;">
                            <input style="height: 30px;width:180px !important;" type="text" name="reportrangeForwarding" id="reportrangeForwarding" class="form-control"  />     
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="forwardingTable" class="display" width="80%"></table>
                </div>
                <script>
                    $('#specificPRoxy').on('click', function(){
                        $('#forwardProxyCustom').toggle();
                    })
                    forward_data.inicializeForwardingTable() 
                    forward_data.datatableRowsGlobalSave('forwardingTable_length')
                </script>
                <!-- <script src="../../../node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script> -->
                </form>
            </div>
        </div>
    </div>
</div>

