<!-- <script>
    if(require("electron").remote.getGlobal("sharedObj").PROD_MODE){
        var proxy_data = require(process.cwd()+LOCATION+'\\_linkers\\tabulka\\p-d.jsc');
        var proxy = require(process.cwd()+LOCATION+'\\_linkers\\paaex.jsc');
    }else{
        var proxy_data = require(process.cwd()+LOCATION+'\\_linkers\\tabulka\\p-d.js');
        var proxy = require(process.cwd()+LOCATION+'\\_linkers\\paaex.js');
    }
</script> -->
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-5">
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="loader.loadNewPage(event,this,'domcek.html','','');">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Proxies</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row vertical-center-row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <form name="form-table" id="form-table">
                <div class="card-body">
                    <div class="btn-toolbar justify-content-between mb-2" role="toolbar"
                        aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary btn-success rounded-lg"
                                onclick="child.getNewWindow('cache-i-p',false,600,700,12345)"><i
                                    class="m-r-10 mdi mdi-plus-circle"></i>NEW proxies</button>
                            <button type="button" id="delete-data" class="btn btn-secondary btn-danger ml-2 rounded-lg"
                                onclick="proxy.deleteData()"><i class="m-r-10 mdi mdi-delete-circle"></i>DELETE
                                proxies</button>
                            <button type="button" id="delete-data" class="btn btn-secondary btn-danger ml-2 rounded-lg"
                                onclick="proxy.deleteDataUnused()"><i class="m-r-10 mdi mdi-delete-circle"></i>DELETE only unused PROXIES</button>
                        </div>
                    </div>
                    <select id="filterProxyGroup" class="filterSelectBox mt-2 mb-2 form-control" style="width:auto;margin-right: 5px;width: 100% !important;min-width: 220px !important;max-width: 300px !important; ">                        
                    </select>
                    <div class="btn-group" role="group"></div>
                        <h5>CHANGE PROXY GROUP:</h5> 
                        <div class="form-check mt-1 col-2 mb-2 mr-2 ml-2" style="width: 210px;white-space: nowrap !important;text-align: center !important;">
                            <!-- <select class="form-control" name="recovery-list" id="recovery-list">
                                <option value="">Please select Recovery email..</option>
                            </select> -->
                            <input type="checkbox" class="form-check-input" id="existing-group" value="" data-maxnums="0" checked>
                            <label class="form-check-label" for="existing-group">Select existing group:</label>
                        </div>
                        <select id="filterProxyGroupImport" class="filterSelectBox mt-2 mb-2 ml-4 form-control" style="width:auto;margin-right: 5px;width: 100% !important;min-width: 220px !important;max-width: 300px !important;font-size: 12px !important; height: 30px !important; ">                        
                        </select>

                        <div class="form-check mt-1 col-2 mb-2 mr-2 ml-2" style="width: 210px;white-space: nowrap !important;text-align: center !important;">
                            <!-- <select class="form-control" name="recovery-list" id="recovery-list">
                                <option value="">Please select Recovery email..</option>
                            </select> -->
                            <input type="checkbox" class="form-check-input" id="new-group" value="" data-maxnums="0">
                            <label class="form-check-label" for="new-group">Create new group:</label>
                        </div>
                        <input name="newProxyGroup" value="" type="text" class="form-control mb-2 ml-4" id="newProxyGroup"
                            placeholder="Add new proxy group..." style="max-width: 300px !important;min-width: 150px !important; display: none;">
                        <button type="button" class="btn btn-secondary btn-primary rounded-lg"
                            onclick="proxy.changeProxyGroup()"><i
                                class="m-r-10 mdi mdi-find-replace"></i>CHANGE group</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="proxyEmailTable" class="display" width="80%"></table>
                </div>

                <!-- <script src="../../../node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script> -->
            </form>
        </div>
    </div>
</div>
<script>
    child.getAllProxyGroups('#filterProxyGroupImport')
    
    document.getElementById("existing-group").addEventListener("click",function(){
            document.getElementById("newProxyGroup").style.display="none"
            document.getElementById("filterProxyGroupImport").style.display="block"
            document.getElementById("existing-group").checked = true
            document.getElementById("new-group").checked = false
        })

        document.getElementById("new-group").addEventListener("click",function(){
            document.getElementById("newProxyGroup").style.display="block"
            document.getElementById("filterProxyGroupImport").style.display="none"
            document.getElementById("existing-group").checked = false
            document.getElementById("new-group").checked = true
    })
</script>