<!-- <script>
    if(require("electron").remote.getGlobal("sharedObj").PROD_MODE){
        var task_data = require(process.cwd()+LOCATION+'\\_linkers\\tabulka\\ts-d.jsc');
        var task = require(process.cwd()+LOCATION+'\\_linkers\\task.jsc');
    }else{
        var task_data = require(process.cwd()+LOCATION+'\\_linkers\\tabulka\\ts-d.js');
        var task = require(process.cwd()+LOCATION+'\\_linkers\\task.js');
    }
</script> -->
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-5">
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="loader.loadNewPage(event,this,'domcek.html','','');">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Waiting Tasks</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row vertical-center-row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <form name="form-table" id="form-table">
                <div class="card-body">
                    <div class="btn-toolbar justify-content-between mb-2" role="toolbar"
                        aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                                <button type="button" id="delete-data" class="btn btn-secondary btn-danger ml-2 rounded-lg"
                                    onclick="waittask.killSelectedWaitTasks()"><i class="m-r-10 mdi mdi-delete-circle"></i>DELETE
                                    WAITING TASKS</button>
                                <button type="button" id="delete-data" class="btn btn-secondary btn-danger ml-3 rounded-lg float-right"
                                    onclick="waittask.killAllWaitTasks()"><i class="m-r-10 mdi mdi-delete-circle"></i>DELETE ALL WAITING TASKS</button>
                        </div>        
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="waittaskTable" class="display"></table>
                </div>

                <!-- <script src="../../../node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script> -->
            </form>
        </div>
    </div>
</div>