<!-- <script>
    if(require("electron").remote.getGlobal("sharedObj").PROD_MODE){
        var home = require(process.cwd()+LOCATION+'\\_linkers\\home.jsc');
    }else{
        var home = require(process.cwd()+LOCATION+'\\_linkers\\home.js');
    }
</script> -->
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-5">
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- column -->
    <div>
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Main statistics and actual processes</h4>
                    </div>
                </div>
                <!-- title -->
            </div>

            <div class="row" style="flex-wrap: nowrap;">
                <div style="text-align: center;">
                    <span class="d-inline-block">Performance usage <br> (actual windows/max windows)</span>
                    <div class="ml-1"></div>
                    <div id="email-registered-val-act-graph" class="c100 p10 green" style="margin-top: 10px;">
                        <span id="email-registered-val-act">-%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <span class="d-inline-block">Registered emails <br> (registered/total emails)</span>
                    <div class="ml-1">
                        <div id="window-execution-val-act-graph" class="c100 p0 red" style="margin-top: 10px;">
                            <span id="window-execution-val-act">-%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="flex-wrap: nowrap;">
                <div style="text-align: center;">
                    <span class="d-inline-block ml-5">Emails statistics </span>
                    <div class="pl-5 pr-5 pt-4 rounded" style="margin-top: 10px;padding-bottom: 17px; margin-left: 45px ;background-image: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.125)) !important;">
                        <h5 id="registered-total-val">? Registered</h5>
                        <h5 id="forwarded-total-val">? Forwarded</h5>
                        <h5 id="farmed-total-val">? Farmed</h5>
                        <h5 id="unregistered-total-val">? Unregistered</h5>
                        <h5 id="totalEmails-total-val">? Total emails</h5>
                        <h5 id="failed-total-val">? Failed</h5>
                    </div>
                </div>

                <div class="ml-4" style="text-align: center;">
                    <span class="d-inline-block ml-5">Actual running processes</span>
                    <div class="p-5 rounded" style="margin-top: 10px;     margin-left: 45px ;background-image: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.125)) !important;">
                        <h5 id="email-processes-val">? Registrations</h5>
                        <h5 id="forwarding-processes-val">? Forwardings</h5>
                        <h5 id="farming-processes-val">? Farmings</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>