<!-- <script>
    if(require("electron").remote.getGlobal("sharedObj").PROD_MODE){
        var email_data = require(process.cwd()+LOCATION+'\\_linkers\\tabulka\\c-e-d.jsc');
        var email = require(process.cwd()+LOCATION+'\\_linkers\\cx-xe.jsc');
        var email_import = require(process.cwd()+LOCATION+'\\_linkers\\ixm-ex.jsc');
    }else{
        var email_data = require(process.cwd()+LOCATION+'\\_linkers\\tabulka\\c-e-d.js');
        var email = require(process.cwd()+LOCATION+'\\_linkers\\cx-xe.js');
        var email_import = require(process.cwd()+LOCATION+'\\_linkers\\ixm-ex.js');
    }
</script> -->
    <div class="page-breadcrumb">
        <div class="row align-items-center" style="justify-content:space-between">
            <div class="col-5">
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="loader.loadNewPage(event,this,'domcek.html','','');">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Create Emails</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="mr-5">
                Unused proxies: <span id="UnusedProxyDataVal">-</span>
            </div>
        </div>
    </div>
    <div class="row vertical-center-row">
        <!-- column -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!--<form onSubmit="JavaScript:sendFormMain(event)">-->
                    <div class="btn-toolbar justify-content-between mb-4" role="toolbar" style="margin-bottom: 0px !important;"
                        aria-label="Toolbar with button groups">
                        <div class="btn-group ml-3 mb-3" role="group" style="margin: 0px !important;margin-bottom: 15px !important;display: flex;flex-wrap: wrap;">
                            <div class="mr-2 mb-2">
                                <select class="form-control" name="providers-list" id="providers-list">
                                    <option value="item0">Please select Provider..</option>
                                </select>
                            </div>

                            <div class="mr-2 mb-2">
                                <select class="form-control" name="countries-list" id="countries-list">
                                    <option value="country0">Please select provider first..</option>
                                </select>
                            </div>

                            <div class="form-check mt-1 col-2 mb-2 mr-2" style="width: 210px;white-space: nowrap !important;text-align: center !important;">
                                <!-- <select class="form-control" name="recovery-list" id="recovery-list">
                                    <option value="">Please select Recovery email..</option>
                                </select> -->
                                <input type="checkbox" class="form-check-input" id="recovery-email" value="" data-maxnums="0">
                                <label class="form-check-label" for="exampleCheck1">Recovery email</label>
                            </div>

                            <div class="input-group mb-2 mr-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" id="quantity">Quantity</div>
                                </div>
                                <input type="number" id="quantityVal" value="1" min='0' max='5000' class="form-control"
                                    placeholder="1" aria-label="Input group example">
                            </div>

                            <div class="mr-2 mb-2">
                                <select class="form-control filterSelectBox" name="providers-list" id="selectProxyGroup" style="font-size: 12px !important; height: 30px !important;">
                                </select>
                            </div>

                            <div class="input-group mr-2 col-3 mb-2" style="margin-left: -18px !important;">
                                <button type="button" class="btn btn-secondary btn-success ml-2 rounded-lg" style="    float: right;margin-right: 45px;"
                                    onclick="email.sendFormMain(event)"><i class="m-r-10 mdi mdi-plus-circle"></i>Generate new
                                    email</button>
                            </div>
                        </div>

                        <div class="btn-group ml-3 mb-3 col-12" role="group" style="margin: 0px !important;padding: 0px !important;">

                            <div class="mr-3">
                                <select class="form-control" name="recaptcha-list" id="recaptcha-list">
                                    <option value="">Please select score type..</option>
                                    <option value="V3">Recaptcha score(V3)</option>
                                    <option value="V2">OneClick (V2)</option>
                                </select>
                            </div>

                            <div class="input-group mr-1 col-3">
                                <button type="button" id="recaptchaEmailCheckScore" class="btn btn-secondary btn-success ml-2 rounded-lg"
                                    onclick="email.getRecaptchaScore(event)"><i class="m-r-10 mdi mdi-plus-circle"></i>Get actual
                                    score<span id="countdown"></span></button>
                            </div>

                            <div style="float: right;width: 100%;">
                                <p style="    text-align: right;" class="mt-1">Actual RECOVERY DOMAIN: <span id="actualRecoveryDomain"></span></p>
                            </div>
                        </div>

                        <div class="btn-group mb-3 ml-3" role="group" aria-label="First group" style="margin: 0px !important;padding: 0px !important;">
                            <button id="regEmailStart" type="button" class="btn btn-secondary btn-success ml-2 rounded-lg" style="    margin-left: 0px !important;"
                                onclick="email.registerEmails(event)"><i class="m-r-10 mdi mdi-plus-circle"></i>Register
                                email<span id="countdown"></span></button>
                            <button type="button" class="btn btn-secondary btn-danger ml-2 rounded-lg"
                                onclick="email.deleteData()"><i class="m-r-10 mdi mdi-delete-circle"></i>Delete email</button>
                        </div>
                        <div class="btn-group mb-3 ml-3" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary btn-danger mr-3 rounded-lg float-right" style="    margin-right: 0px !important;"
                                onclick="email.killAllRegistrations()"><i class="m-r-10 mdi mdi-close"></i>Stop ALL registrations
                            </button>
                        </div>
                        
                        <div class="btn-group ml-3 mb-3 col-12" role="group" style="margin: 0px !important;padding: 0px !important;">

                            <div class="mr-3">
                                <select id="filterProxyGroupImport" class="filterSelectBox form-control" style="width:auto;margin-right: 5px;width: 100% !important;min-width: 220px !important;max-width: 300px !important;font-size: 12px !important; height: 30px !important; ">                        
                                </select>
                            </div>

                            <div class="input-group mr-1 col-3">
                                <button type="button" id="recaptchaEmailCheckScore" class="btn btn-secondary btn-success ml-2 rounded-lg"
                                    onclick="email.changeProxyGroup()"><i class="m-r-10 mdi mdi-plus-circle"></i>Change proxy</button>
                            </div>
                        </div>
                    </div>

                    
                    <!--</form> -->
                    <!-- <p id="date_filter">
                        <span id="date-label-from" class="date-label">From: </span><input class="date_range_filter date" type="text" id="datepicker_from" placeholder="Date from"/>
                        <span id="date-label-to" class="date-label">To:<input class="date_range_filter date" type="text" id="datepicker_to" placeholder="Date to"/>
                    </p> -->

                    <div id="filterDiv" style="display: flex;padding: 0px;flex-wrap: wrap !important;">
                        <div class="mr-2" style="padding: 0px;">
                            <!-- <label for="cars">Filter by status:</label> -->
                            <select id="filterStatus" class="filterSelectBox mt-2 mb-2 form-control" style="width:auto;margin-right: 5px;width: 100% !important;min-width: 220px !important;max-width: 300px !important; ">
                                <option style="color: white !important;" value="">Filter by status:</option>
                                <option value="unregistered">Unregistered</option>
                                <option value="registered">Registered</option>
                                <option value="failed">Failed</option>
                                <option value="canceled">Canceled</option>
                                
                                <!--<option value="waiting task">Waiting tasks</option>
                                <option value="initializing process">Initializing process</option>
                                <option value="failed_initializing">Register initializing</option>
                                <option value="failed_register">Register failed</option>
                                <option value="failed_country_is_not_support">Country is not support</option>
                                <option value="failed_email_is_already_use">This username is already in use</option>
                                <option value="failed_problem_with_number">This phone number cannot be used for verification</option>
                                <option value="waiting_for_sms">Waiting for SMS</option>
                                
                                <option value="registering">Registering</option>
                                <option value="finishing_registration">Finishing registration</option>
                                <option value="filling_form">Filling form</option>-->
                                
                            </select>
                        </div>
                        <div class="mr-4" style="display: flex;    padding-right: 0px;">
                            <div>
                                <p style=" margin-bottom: 0px;   margin-top: 13px;white-space: nowrap !important;text-align: center !important;">Filter by registered at:</p>    
                            </div>
                            <div style="margin-top: 8px;">
                                <input style="height: 30px;width:180px !important" type="text" name="reportrangeEmails" id="reportrangeEmails" class="form-control"  />     
                            </div>
                        </div>
                        <div style="white-space: nowrap !important;">
                            <p style="text-align: right;padding-top: 12px;"> Toggle columns: <a class="toggle-vis btn-sm btn-secondary" data-desc="ALL">All columns</a> - <a class="toggle-vis btn-sm btn-secondary" data-desc="Registration-data">Registration data</a> - <a class="toggle-vis btn-sm btn-secondary" data-desc="SMS-data">SMS data</a> 
                            </p>
                        </div>
                    </div>
                    <div class="table-responsive" >
                        <table id="smsCreateEmailsTable" class="display" width="80%">
                        </table>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>