<!-- <script>
    if(require("electron").remote.getGlobal("sharedObj").PROD_MODE){
        var farm_data = require(process.cwd()+LOCATION+'\\_linkers\\tabulka\\fm-d.jsc');
        var farm = require(process.cwd()+LOCATION+'\\_linkers\\fxxm.jsc');
    }else{
        var farm_data = require(process.cwd()+LOCATION+'\\_linkers\\tabulka\\fm-d.js');
        var farm = require(process.cwd()+LOCATION+'\\_linkers\\fxxm.js');
    }
</script> -->
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-5">
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="loader.loadNewPage(event,this,'domcek.html','','');">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Farming</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row vertical-center-row">
    <!-- column -->
    <div class="col-12">
        <div class="card">

            <div class="card-body">
            
                <!--<form onSubmit="JavaScript:sendFormMain(event)">-->
                <div class="btn-toolbar justify-content-between mb-2" role="toolbar"
                    aria-label="Toolbar with button groups">
                    <select id="selectProxyGroupChange" class="filterSelectBox mt-2 mb-2 form-control" style="width:auto;margin-right: 5px;width: 100% !important;min-width: 220px !important;max-width: 300px !important; font-size: 12px !important; height: 30px !important;">                        
                    </select>
                    <div class="btn-group mb-3" style="margin-left: -10px;" role="group" aria-label="First group">
                        <button id="farmEmailStart" type="button" class="btn btn-secondary btn-success ml-2 rounded-lg"
                            onclick="farm.farmEmails()"><i class="m-r-10 mdi mdi-plus-circle"></i>Farm emails<span id="countdown"></span></button>
                        <button type="button" class="btn btn-secondary btn-danger ml-2 rounded-lg"
                            onclick="email.deleteData()"><i class="m-r-10 mdi mdi-delete-circle"></i>Delete email</button>
                        <button type="button" class="btn btn-secondary btn-danger ml-2 rounded-lg"
                            onclick="farm.killSelectedFarmings()"><i class="m-r-10 mdi mdi-delete-circle"></i>Stop SELECTED
                            farmings</button>
                        <button type="button" class="btn btn-secondary btn-danger ml-2 rounded-lg"
                            onclick="farm.resetSelectedFarmings()"><i class="m-r-10 mdi mdi-delete-circle"></i>Reset SELECTED failed</button>
                    </div>
                    <div class="btn-group mb-3" style="margin-left: -10px;" role="group" aria-label="First group">
                        <button type="button" class="btn btn-secondary btn-danger ml-2 rounded-lg"
                            onclick="farm.resetAllFarmings()"><i class="m-r-10 mdi mdi-delete-circle"></i>Reset ALL failed</button>
                        <button type="button" class="btn btn-secondary btn-danger ml-2 rounded-lg"
                            onclick="farm.killAllFarmings()"><i class="m-r-10 mdi mdi-close"></i>Stop ALL
                            farmings</button>
                    </div>
                </div>

                <div class="btn-group ml-3 mb-3" role="group" style="margin: 0px !important;margin-bottom: 15px !important;display: flex;flex-wrap: wrap;">
                    <div class="mr-3">
                        <select class="form-control" name="recaptcha-list" id="recaptcha-list">
                            <option value="">Please select score type..</option>
                            <option value="V3">Recaptcha score(V3)</option>
                            <option value="V2">OneClick (V2)</option>
                        </select>
                    </div>

                    <div class="input-group mr-1 col-3">
                        <button type="button" id="recaptchaEmailCheckScore" class="btn btn-secondary btn-success ml-2 rounded-lg"
                            onclick="email.getRecaptchaScore(event)"><i class="m-r-10 mdi mdi-plus-circle"></i>Get actual
                            score<span id="countdown"></span></button>
                    </div>
                </div>    
                <!--</form> -->

                <div class="btn-group ml-3 mb-3" role="group" style="margin: 0px !important;margin-bottom: 15px !important;display: flex;flex-wrap: wrap;">
                    <!-- <label for="cars">Filter by status:</label> -->
                    <select id="filterStatusFarming" class="filterSelectBox mt-2 mb-2 form-control" style="width:auto;">
                        <option style="color: white !important;" value="">Filter by status:</option>
                        <option value="unfarmed">Unfarmed</option>
                        <!-- <option value="waiting task">Waiting Tasks</option>
                        <option value="initializing process">Initializing process</option>
                        <option value="processing farming">Processing farming</option>
                        <option value="youtube">Youtube</option>
                        <option value="browsing">Browsing</option>
                        <option value="news">News</option>
                        <option value="shopping">Shopping</option> -->
                        <option value="farmed">Farmed</option>
                        <option value="failed">Failed</option>
                        <option value="canceled">Canceled</option>
                    </select>

                    <!--<p id="date_filter">
                        <span id="date-label-from" class="date-label">From: </span><input class="date_range_filter date" type="text" id="datepicker_from" placeholder="Date from"/>
                        <span id="date-label-to" class="date-label">To:<input class="date_range_filter date" type="text" id="datepicker_to" placeholder="Date to"/>
                    </p> -->
                     <div class="col-4 ml-3 mt-1" style="display: flex;    padding-right: 0px;white-space: nowrap !important;">
                            <div>
                                <p style=" margin-bottom: 0px;   margin-top: 13px;">Filter by registered at:</p>    
                            </div>
                            <div style="margin-top: 8px;">
                                <input style="height: 30px;width:180px !important;" type="text" name="reportrangeFarming" id="reportrangeFarming" class="form-control"  />     
                            </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="farmingTable" class="display" width="80%"></table>
                </div>
                <script>
                    farm_data.inicializeFarmingTable() 
                    farm_data.datatableRowsGlobalSave('farmingTable_length')
                </script>
                <!-- <script src="../../../node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script> -->
                </form>
            </div>
        </div>
    </div>
</div>

