<!-- <script>
    if(require("electron").remote.getGlobal("sharedObj").PROD_MODE){
        var log = require(process.cwd()+LOCATION+'\\_linkers\\logs.jsc');
    }else{
        var log = require(process.cwd()+LOCATION+'\\_linkers\\logs.js');
    }
</script> -->
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-5">
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="loader.loadNewPage(event,this,'domcek.html','','');">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Logs</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" id="process" class="btn btn-secondary border border-dark">PROCESS</button>
        <button type="button" id="error" class="btn btn-secondary border border-dark">ERRORS</button>
        <div class="input-group-prepend ml-2">
            <!--<div class="input-group-text" id="btnGroupAddon">&#128269;</div>-->

            <input type="text" id="find-val" class="form-control" placeholder="Find something in logs..."
                aria-label="Find something in logs..." aria-describedby="btnGroupAddon">
        </div>

    </div>
    <button type="button" id="processClear" class="btn btn-secondary border border-dark float-right"
        onclick="log.clearErrorLogs()">CLEAR</button>

    <div class="border border-dark" style="margin-bottom:8px;">
        <div class="form-group p-2" id="textarea-process"
            style="display: block;background-color:transparent;opacity:0.9;font-size: 10px;">
            <!--<label for="exampleFormControlTextarea1">List of procceses:</label>
                            <textarea class="form-control" id="process-val" placeholder="It looks like you have nothing here right now.."
                                rows="23" readonly style="background-color: #f6f6f6;resize: none; white-space: pre-line; font-size:10px;"></textarea>-->
            <ul id="process-val" class="list-unstyled">
                <li>Loading..</li>
            </ul>
            <button type="button" id="process-load-more" class="btn btn-secondary border border-dark"
                onclick="log.loadMore('process')" data-load="20" style="display: none;">LOAD more..</button>
        </div>
        <!--<h4 class="mt-2 mb-2">OR import proxies from FILE:</h4>-->
        <div class="form-group p-2" id="textarea-error"
            style="display: none;background-color:transparent;opacity:0.9;font-size: 10px;">
            <!--<label for="exampleFormControlTextarea1">List of procceses:</label>
                            <textarea class="form-control" id="process-val" placeholder="It looks like you have nothing here right now.."
                                rows="23" readonly style="background-color: #f6f6f6;resize: none; white-space: pre-line; font-size:10px;"></textarea>-->
            <ul id="error-val" class="list-unstyled">
                <li>Loading..</li>
            </ul>
            <button type="button" id="error-load-more" class="btn btn-secondary border border-dark"
                onclick="log.loadMore('error')" data-load="20" style="display: none;">LOAD more..</button>
        </div>
    </div>
</div>

<script>
    document.getElementById("error").addEventListener("click", function () {
        document.getElementById("textarea-process").style.display = "none"
        document.getElementById("textarea-error").style.display = "block"
    })

    document.getElementById("process").addEventListener("click", function () {
        document.getElementById("textarea-process").style.display = "block"
        document.getElementById("textarea-error").style.display = "none"
    })

</script>