<!-- <script>
    if(require("electron").remote.getGlobal("sharedObj").PROD_MODE){
        var setting = require(process.cwd()+LOCATION+'\\_linkers\\nastav.jsc');
    }else{
        var setting = require(process.cwd()+LOCATION+'\\_linkers\\nastav.js');
    }
</script> -->
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-5">
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="loader.loadNewPage(event,this,'domcek.html','','');">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Settings</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row vertical-center-row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="ml-3 mb-4">
                    <div class="btn-group mb-3" role="group" id="menuButtonsGroupSett" aria-label="Basic example">
                        <button type="button" id="main" class="btn btn-secondary border border-dark mr-1">MAIN</button>
                        <button type="button" id="country"
                            class="btn btn-secondary border border-dark mr-1">COUNTRIES</button>
                        <button type="button" id="farming"
                            class="btn btn-secondary border border-dark mr-1">FARMING</button>
                    </div>
                    <div id="main-body" class="btn-group" role="group" aria-label="Basic example" style="display:block;">
                        <!-- <p>Licence key:S52f46fe5fSS33rwfdsf223</p>
                        <p>Licence expiration:2021-10-23</p> -->
                        <br>
                        <div class="row ml-1" style=" display: flex;justify-content: space-between;">   
                            <div style="display: flex;">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" id="max-windows">Max executed processes</div>
                                </div>
                                <input type="number" id="max-windows-val" value="1" min='1' max='150' class="form-control mr-3"
                                   style="width:70px" placeholder="1" aria-label="Input group example">
                            </div>
                            <div style="display: flex;">
                                <button type="button" class="btn btn-success mt-1" id="update-max-windows"
                                onclick="setting.updateMaxWindows()">Update max windows</button>
                            <p class="mb-0 pt-2 ml-2">Last modified: <span id="lastModMaxWindows"></span></p>
                            </div>    
                        </div>
                        <br>
                        <div class="row ml-1" style=" display: flex;justify-content: space-between;">   
                            <div style="display: flex;">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" id="maxRecovery">Recovery domain</div>
                                </div>
                                <input type="text" id="maxRecoveryDomain" class="form-control mr-3 col-3"
                                    placeholder="Enter recovery domain (@domain.com) ..." aria-label="Input group example" style="min-width: 300px !important;">    
                            </div>  
                            <div style="display: flex;">
                                <button type="button" class="btn btn-success mt-1" id="updateRecoveryDomain"
                                onclick="setting.updateRecoveryDomain()">Update recovery domain</button>
                            <p class="mb-0 pt-2 ml-2">Last modified: <span id="lastModRecoveryDomain"></span></p>
                            </div>
                        </div>
                        <br>
                        <div class="row ml-1" style=" display: flex;justify-content: space-between;">   
                            <div style="display: flex;">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" id="maxEmailNum">Max numbers in EMAIL name</div>
                                </div>
                                <input type="number" id="maxMaxEmailNameNum" value="4" min='4' max='150' class="form-control mr-3"
                                style="width:70px" placeholder="4" aria-label="Input group example">
                            </div>
                            <div style="display: flex;">
                                <button type="button" class="btn btn-success mt-1" id="updateMaxEmailNameNum"
                                onclick="setting.updateMaxEmailNameNum()">Update max numbers</button>
                            <p class="mb-0 pt-2 ml-2">Last modified: <span id="lastModMaxEmailNameNum"></span></p>
                            </div>
                        </div>
                    </div>

                    <div id="country-body" class="btn-group" role="group" aria-label="Basic example" style="display:none;">
                        <p>Last modified: <span id="lastModCountry"></span></p>
                        <div class="mb-3 col-4">
                            <select class="form-control" name="provider-list" id="provider-list">
                                <option value="provider0">Please select Provider..</option>
                            </select>
                        </div>
                        <div class="btn-toolbar mb-3 mt-3" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group" role="group" aria-label="First group">
                                <div class="mr-3">
                                    <select class="form-control" name="countries-list" id="countries-list">
                                        <option value="country0">Please select Country..</option>
                                    </select>
                                </div>
                                <input type="text" class="form-control" id="prefix" placeholder="Change country data">

                            </div>
                        </div>
                        <div class="input-group mt-4">
                            <button type="button" class="btn btn-success" id="updatePrefixBtn"
                                onclick="setting.updateCountryPrefix()">Update country list</button>
                            <button type="button" class="btn btn-primary ml-3" onclick="child.updateCountryList(true)"><i
                                    class="m-r-10 mdi mdi-autorenew"></i>Get actual country list</button>
                        </div>
                    </div>
                    <div id="farming-body" class="btn-group" role="group" aria-label="Basic example" style="display:none;">
                        <div class="btn-toolbar justify-content-between mb-3 mr-2" role="toolbar"
                            aria-label="Toolbar with button groups">
                            <p>Last modified: <span id="lastMod"></span></p>
                            <div class="input-group">
                                <button type="button" class="btn btn-primary" onclick="setting.updateFarmingSettings(true)"><i
                                        class="m-r-10 mdi mdi-autorenew"></i>Reset all values to default</button>
                            </div>
                        </div>

                        <p style="font-size: 10px;color: gray;font-weight: 900;">**INFO: To disable any of the features, just set the value to 0 (Youtube = Number of Videos, News = Number of News, Shopping = Number of Items, Searching = Number of Searches)</p>

                        <p>YOUTUBE SETTINGS:</p>
                        <div class="btn-group ml-3 mb-2 col-12" role="group" style="display: flex;flex-wrap: wrap;">
                            <div class="input-group">
                                <div class="input-group-prepend mb-2">
                                    <div class="input-group-text" id="videos">Number of Videos</div>
                                </div>
                                <input type="number" id="videosVal" value="1" min='0' max='60' class="form-control mr-3 col-1" placeholder="1"
                                    aria-label="Input group example" style="min-width: 80px !important;border: none !important;">
                                <div class="input-group-prepend mb-2">
                                    <div class="input-group-text" id="minVideos">MIN seconds(on 1 video)</div>
                                </div>
                                <input type="number" id="minVideosVal" value="1" min='0' max='60' class="form-control mr-3 col-1" placeholder="1"
                                    aria-label="Input group example" style="min-width: 80px !important;border: none !important;">
                                <div class="input-group-prepend mb-2">
                                    <div class="input-group-text" id="maxVideos">MAX seconds(on 1 video)</div>
                                </div>
                                <input type="number" id="maxVideosVal" value="1" min='0' max='60' class="form-control mr-3 col-1"
                                    placeholder="1" aria-label="Input group example"
                                    style="min-width: 80px !important;border: none !important;">
                            </div>
                        </div>
                        <p>NEWS READING SETTINGS:</p>
                        <div class="btn-group ml-3 mb-2 col-12" role="group" style="display: flex;flex-wrap: wrap;">
                            <div class="input-group">
                                <div class="input-group-prepend mb-2">
                                    <div class="input-group-text" id="news">Number of News</div>
                                </div>
                                <input type="number" id="newsVal" value="1" min='0' max='60' class="form-control mr-3 col-1"
                                    placeholder="1" aria-label="Input group example" style="min-width: 80px !important;border: none !important;">
                                <div class="input-group-prepend mb-2">
                                    <div class="input-group-text" id="minNews">MIN seconds(on 1 news)</div>
                                </div>
                                <input type="number" id="minNewsVal" value="1" min='0' max='60' class="form-control mr-3 col-1"
                                    placeholder="1" aria-label="Input group example" style="min-width: 80px !important;border: none !important;">
                                <div class="input-group-prepend mb-2">
                                    <div class="input-group-text" id="maxNews">MAX seconds(on 1 news)</div>
                                </div>
                                <input type="number" id="maxNewsVal" value="1" min='0' max='60' class="form-control mr-3 col-1"
                                    placeholder="1" aria-label="Input group example" style="min-width: 80px !important;border: none !important;">
                            </div>
                        </div>

                        <p>SHOPPING SETTINGS:</p>
                        <div class="btn-group ml-3 mb-2 col-12" role="group" style="display: flex;flex-wrap: wrap;">
                            <div class="input-group">
                                <div class="input-group-prepend mb-2">
                                    <div class="input-group-text" id="items">Number of Items</div>
                                </div>
                                <input type="number" id="itemsVal" value="1" min='0' max='60' class="form-control mr-3 col-1"
                                    placeholder="1" aria-label="Input group example" style="min-width: 80px !important;border: none !important;">
                                <div class="input-group-prepend mb-2">
                                    <div class="input-group-text" id="items_category">Number of shopping categories</div>
                                </div>
                                <input type="number" id="items_category_val" value="1" min='0' max='60' class="form-control mr-3 col-1"
                                    placeholder="1" aria-label="Input group example" style="min-width: 80px !important;border: none !important;">
                            </div>
                        </div>

                        <p>SEARCHING NEW TRENDS SETTINGS:</p>
                        <div class="btn-group ml-3 mb-2 col-12" role="group" style="display: flex;flex-wrap: wrap;">
                            <div class="input-group">
                                <div class="input-group-prepend mb-2">
                                    <div class="input-group-text" id="search">Number of Searches</div>
                                </div>
                                <input type="number" id="searchVal" value="1" min='0' max='60' class="form-control mr-3 col-1"
                                    placeholder="1" aria-label="Input group example" style="min-width: 80px !important;border: none !important;">
                            </div>
                        </div>
                        <div class="input-group mt-4">
                            <button type="button" class="btn btn-success" onclick="setting.updateFarmingSettings()">Update farming
                                settings</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    setting.getCountriesOther()
    setting.getCountryValue()
    setting.getActualFarmingVal()
    setting.getActualCountryVal()
    setting.getActualMainSettings()

    document.getElementById("main").addEventListener("click", function () {
        document.getElementById("country-body").style.display = "none"
        document.getElementById("farming-body").style.display = "none"
        document.getElementById("main-body").style.display = "block"
    })

    document.getElementById("country").addEventListener("click", function () {
        document.getElementById("country-body").style.display = "block"
        document.getElementById("farming-body").style.display = "none"
        document.getElementById("main-body").style.display = "none"

    })

    document.getElementById("farming").addEventListener("click", function () {
        document.getElementById("country-body").style.display = "none"
        document.getElementById("farming-body").style.display = "block"
        document.getElementById("main-body").style.display = "none"
    })

</script>